
    <div class="row" ng-repeat="item in itemNews">
                <div class="col-12">
                  <h3 class="newsTitle">{{ item.Title }} </h3>
                  <p class="newsSummary">{{ item.Summary }}</p>
                  <div>
                    <div class="col-xs-8"><a class="btn btn-default" href="#" role="button">Read and discuss &raquo;</a></div>
                    <div class="col-xs-4">
                        <span class="glyphicon glyphicon-user"></span>&nbsp;<strong>23</strong> comments
                    </div>
                  </div> 
                  
                </div><!--/span-->                              
    </div>
 
