<!-- Dreadful, Very bad, Bad, Not good, Neutral, Not bad, Good, Very good, Excellent -->
    <script src="//www.gmodules.com/ig/ifr?url=http://hosting.gmodules.com/ig/gadgets/file/100840413740199312943/stock-charts.xml&amp;up_stockList=%5EIXIC&amp;up_chart_period=0&amp;synd=open&amp;w=200&amp;h=140&amp;title=Stock+Chart&amp;border=%23ffffff%7C3px%2C1px+solid+%23999999&amp;output=js"></script>

<div class="row">
    <label class="center-block">News is mostly good </label>
    <img src="images/sentiment.png" alt="News is mostly good">
</div>

<div class="row">
1d 5d 1m 3m 6m 1y
</div>
